// Fonts
$font-primary: 'Lato', Helvetica, sans-serif;

// Colors
$accent:      #028A8C;
$accent-alt:  #53D3C5;
$gray-darker: #333;
$gray-dark:   #3d3d3d;
$gray:        #403f3f;
$gray-light:  #c6c6c6;
