---
layout: default
---
<div class="primary">
    <article class="post post-full">
        <header class="post-header">
            <div class="post-header-wrap">
                {% if page.image %}
                <div class="post-thumbnail">
                    <img src="{{ page.image | prepend: site.baseurl }}"
                         alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}">
                </div>
                {% endif %}
                <h1 class="post-title outer">{{page.title}}</h1>
            </div>
          
        </header><!-- .post-header -->
        <div class="post-content inner-small outer">
            {{content}}
        </div><!-- .post-content -->
        <footer class="post-footer inner-small outer">
            <div class="post-share">
                <span>Compartir:</span>
                <a class="button button-icon button-fill-horz"
                   href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}"
                   target="_blank" rel="noopener">{% include icons/twitter.html %}<span
                        class="screen-reader-text">Comparte en Twitter</span></a>
                <a class="button button-icon button-fill-horz"
                   href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | uri_escape }}"
                   target="_blank" rel="noopener">{% include icons/facebook.html %}<span
                        class="screen-reader-text">Comparte en Facebook</span></a>
            </div>
        
        </footer><!-- .post-footer -->
    </article><!-- .post -->
   
  

</div><!-- .primary -->

{% include sidebar.html %}
